body {
  font-family: 'Times New Roman', serif;
  text-align: center;
  background-color: #f8f8f8;
  margin-top: 50px;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  background-color: yellow;
}

caption {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

th, td {
  border: 1px solid black;
  padding: 10px 20px;
}

th {
  font-weight: bold;
  font-size: 18px;
}
